<div *ngIf="!cardInfo">Не получилось загрузить</div>

<article *ngIf="cardInfo" class="col">
  <div class="card shadow-sm">
    <img
      class="image bd-placeholder-img card-img-top"
      width="100%"
      height="225"
      [src]="cardInfo.image"
      alt="Изображение автомобиля {{ cardInfo.name }}"
    />

    <div class="card-body">
      <h4 class="card-text">{{ cardInfo.name }}</h4>
      <p>
        <span class="text-muted">Model: </span>
        {{ cardInfo.model.name }}
      </p>
      <p><span class="text-muted">Color: </span>{{ cardInfo.color }}</p>
      <p><span class="text-muted">Year: </span>{{ cardInfo.year }}</p>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-secondary">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</article>
