<div class="d-flex justify-content-between mb-3">
  <input
    [(ngModel)]="filterTerm"
    class="form-control w-25"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />

  <app-button-add (addCar)="addCar($event)"></app-button-add>
</div>

<section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <app-card
    *ngFor="let car of cars | filter: filterTerm"
    [cardInfo]="car"
    (removeCar)="removeCar($event)"
    (updateCar)="updateCar($event)"
  ></app-card>
</section>
