<header>
  <app-header></app-header>
</header>


<main>
  <div class="container">

    <h1 class="mt-5 mb-5">Cars List</h1>

    <hr>

    <div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
    </div>

    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <app-card></app-card>
    </section>
  </div>
</main>

<footer></footer>
