<header>
  <app-header></app-header>
</header>

<main>
  <div class="container">
    <app-title-content [title]="contentTitle"></app-title-content>

    <div>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Add
      </button>
    </div>

    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <app-card></app-card>
    </section>

    <div *ngFor="let car of cars">
      {{ car.name }}
      <img
        src="http://localhost:3000/images/{{ car.image }}"
        alt="Изображение машины: {{ car.name }}"
      />
      <button (click)="removeCar(car.id)">remove</button>
    </div>
  </div>
</main>

<footer></footer>
